

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


body {
    background-image: url('https://png.pngtree.com/background/20210715/original/pngtree-rustic-japanese-new-year-background-picture-image_1285666.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;

}


.rawr {
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
    font-family: 'Lora', serif;
}


.keke {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}


.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 140px;
    overflow: hidden;
    position: relative;
    background-color:rgb(252, 234, 220);
    font-family: 'Exo 2', sans-serif;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    background-color: rgb(252, 234, 220);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    animation: bob 0.5s infinite alternate;
    border: 2px solid #d44747;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.5);
}
.btn:hover .btn img {
    transition: transform 0.2s ease-in-out;
}
.btn img {
    width: 70%;
    height: 60%;
    object-fit: cover;
    padding: 10px;
}
.theme{
    flex-direction: row;
    text-align: center;
}
